description: |
  PREFAB+ baseline; CUDA 12.x
  Generalization baseline

data:
  path: /home/jovyan/data/AGAIN
  vision:
    video: video
    frame: frame_data
  img_mean: [ 0.485, 0.456, 0.406 ]
  img_std: [ 0.229, 0.224, 0.225 ]
  transform_size: [320, 480]

game_name:
  TinyCars: tiny
  Solid: solid
  ApexSpeed: apex
  Heist!: fps
  Shootout: gallery
  TopDown: topdown
  Run'N'Gun: gun
  Pirates!: platform
  Endless: endless

experiment:
  activate: true
  player: p4
  session: s2
  game: TopDown
  dataset_name: Shooter
  model: ranknet_prefab_v2_topdown_best.pth

train:
  exp: PREFAB_generalization_shooter_shootout
  log_dir: log/
  save_dir: log/model
  mode: prefab  # prefab: full; image: only image; feature: only feature; non_ordinal: non_ordinal
  label: pair_rank_label  # cluster, arousal, pair_rank_label
  aux_label: cluster
  domain: genre  # genre, game
  genre: Shooter  # All, Shooter, Platformer, Racing
  game: Endless
  lr: 0.0001
  focal_alpha: 1
  focal_gamma: 5
  epoch: 60
  num_transform_layers: 6
  batch_size: 48  # A100 (40G): 24, V100 (32G): 16
  train_ratio: 0.8
  window_size: 12
  window_stride: 4
  ae_loss_weight: 0.001
  aux_loss_weight: 0.01
  dropout: 0.2  # 0.5 is trash
  num_workers: 8
  bio_embedding_dim: 4
  d_model: 200
  schedule: 20
  data_balancing: true
  cutpoints: [-1, 1]
  seed: 1125
  fine_tune: false
  ablation:
      film: false
      aux: false
  generalization:
      activate: true  # if activated, PREFAB will use all features
      train_games: ['Shootout']  # the rests will be the test set
  mixed_precision: "no" # no, fp16, bf16

test:
  label: arousal  # cluster, arousal, pair_rank_label
  aux_label: cluster
  exp: prefab_v2_topdown_nobioaux
  log_dir: log/test/comparison
  save_dir: log/model
  sample_size: -1
  mode: prefab
  batch_size: 80
  seed: 1125
  cutpoints: [-1, 1]

clustering:
  activate: true
  metric: 'softdtw'  # 'euclidean', 'dtw', 'softdtw
  input_type: 'arousal'  # 'arousal', 'arousal_window_mean'
  n_clusters: 4
  metric_params:
    gamma: 2
  random_state: 7
  verbose: true
  visualize: false
  cluster_sample: 0  # 0: all, 1~n: cluster index of 0~n-1
  caching: true

debug:
  activate: false
  limit_player: false
  data_limit: 20

game_numbering:
  All:
    # Racing
    TinyCars: 0
    Solid: 1
    ApexSpeed: 2
    # Shooter
    Heist!: 3
    Shootout: 4
    TopDown: 5
    # Platformer
    Run'N'Gun: 6
    Pirates!: 7
    Endless: 8
  Shooter:
    Heist!: 0
    Shootout: 1
    TopDown: 2
  Platformer:
    Run'N'Gun: 0
    Pirates!: 1
    Endless: 2
  Racing:
    TinyCars: 0
    Solid: 1
    ApexSpeed: 2
  total_cnt: 9
  genre_cnt: 3
  game_cnt_per_genre: 3
